.git
/qgis/*
/layers/*
/dataset/*
/html/*
/output/*
/papers/*
/splat-1.4.2/*
/src/*
Dockerfile
.DS_Store
.gitignore
README.md

#No Prediction
/server/prediction/*.dat
/server/prediction/*.dcf
/server/prediction/*.json
/server/prediction/*.ppm